{% include "nav.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <body class="text-left">
            <form method = "POST">
            <form class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Berechnung eines Studiumschnittes</h1>
                    <p>Für die Auswahl des Studenten gebe die gewünschten Daten im untenstehenden Formular ein. Mit "Berechnen" wird der Schnitt sämtlicher bisher erfassten Noten des jeweiligen Studenten  ausgegeben.</p>
                    <p></p>
                    <label for="nachname" class="sr-only">Nachname</label>
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="Nachname">
                    <p></p>
                    <label for="vorname" class="sr-only">Vorname</label>
                    <input type="text" id="Vorname" class="form-control" name="Vorname" placeholder="Vorname">
                    <p></p>
                    <button class="btn btn-lg btn-primary btn-block"> <input class="btn btn-lg btn-primary btn-blocktype" type="submit" value = "Berechnen!" /></button>
            </form>
            </form>
        </body>
    </div>
</div> 

{% endblock content %}
{% include "footer.html" %}