{% include "nav.html" %}

{% block content %}

<div class="jumbotron">
    <div class = "container">
        <h1 class="h3 mb-3 font-weight-normal">Die Übersicht aller Noten eines Studenten</h1>
        <div class = "table table-bordered table-light">
            <table border = 0 >
                <thead>
                    <tr>
                        <th scope="col">Semester</th>
                        <th scope="col">Fach</th>
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                {% for eintrag in liste: %}  
                <tbody>
                    <tr>
                        <th scope="col"> {{ eintrag["semester"] }} </th>
                        <th scope="col"> {{ eintrag["fach"] }} </th>
                        <th scope="col"> {{ eintrag["note"] }} </th>
                    </tr>
                </tbody>   
                {% endfor %}
            </table>
        </div>
    </div>
</div>  

{% endblock content %}
{% include "footer.html" %}