{% include "nav.html" %}

{% block content %}

<div class="jumbotron">
    <div class = "container">
        <h1 class="h3 mb-3 font-weight-normal">Gesamtschnitt eines Semesters von: {{ vonwem2 }}</h1>
        <!--{{fehlermeldung}}-->
        <div class = "table table-bordered table-light">
            <table border = 0 >
                {% for key, value in data.items() %}
                <thead>
                    <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                    </tr>
                </thead>   
                {% endfor %}
            </table>
        </div>
    </div>
</div>   

{% endblock content %}
{% include "footer.html" %}