    {% block content %}
    <footer class="page-footer font-small teal pt-4 fixed-bottom" style="position: relative;">

    <!-- Footer -->
  <div class="navbar navbar-default fixed-bottom bg-light">
    <div class="container">
      <p class="navbar-text pull-left">a franco malacrida production.</p>
      <p class="navbar-text pull-right">© 2020 copyright: franco malacrida | all rights reserved.</p>
    </div>
    <!-- Footer -->

</footer>
    {% endblock %}   
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
               
</body>
</html>