    {% block content %}
    <footer class="page-footer font-small teal pt-4 fixed-bottom" style="position: relative;">

    <!-- Copyright -->
    <div class="footer-copyright text-left-align py-3 text-white bg-dark">a franco malacrida production.</a>
    </div>
    <!-- Copyright -->

</footer>
    {% endblock %}   
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
               
</body>
</html>