{% extends "nav.html" %}

{% block content %}

<!-- Titel des Semesters-->
        <div class="jumbotron jumbotron-fluid">
             <div class="container">
                <h1 class="display-4">Franco's Notenrechner</h1>
                <p class="lead">Dieser Notenrechner ist dazu da, den Überblick über die bereits erbrachten Leistungserweise nicht zu verlieren.</p>
            </div>
        </div>
<!-- Karten der Semester -->
        <div class="container">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 1</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des ersten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 2</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des zweiten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 3</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des dritten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 4</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des vierten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 5</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des fünften Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 6</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des sechsten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 7</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des siebten Semesters stehen.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Semester 8</h5>
                    <p class="card-text">Hier sollte der Notenschnitt des achten Semesters stehen.</p>
                </div>
            </div>
        </div>
        </div>
{% endblock content %}

				
