{% include "nav.html" %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <body class="text-left">
            <form method = "POST">
            <form class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Upload einer Note</h1>
                    <p>Um eine Note eines Studenten zu erfassen muss nur das folgende Formular abgefüllt werden. Mit dem Button "Upload!" werden die Daten erfasst und im Speicher des Notenrechners gespeichert.</p>
                    <p></p>
                    <label for="nachname" class="sr-only">Nachname</label>
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="Nachname" required>
                    <p></p>
                    <label for="vorname" class="sr-only">Vorname</label>
                    <input type="text" id="Vorname" class="form-control" name="Vorname" placeholder="Vorname" required>
                    <p></p>
                    <label for="semester" class="sr-only">Semester</label>
                    <input type="text" id="Semester" class="form-control" name="Semester" placeholder="Semester" required>
                    <p></p>
                    <label for="fach" class="sr-only">Fach</label>
                    <input type="text" id="Fach" class="form-control" name="Fach" placeholder="Fach" required>
                    <p></p>
                    <label for="note" class="sr-only">Note</label>
                    <input type="text" id="Note" class="form-control" name="Note" placeholder="Note" required>
                    <p></p>
                    <button class="btn btn-lg btn-primary btn-block"> <input class="btn btn-lg btn-primary btn-blocktype" type="submit" value = "Upload!" /></button>
            </form>
            </form>
        </body>
    </div>
</div> 

{% endblock content %}
{% include "footer.html" %}